PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=fan
CORS_ORIGIN=*

# simulator = backend tự mô phỏng | serial = nối STM32 qua COM
DEVICE_MODE=simulator
SERIAL_PORT=COM3
SERIAL_BAUD=115200
